<mat-card fxLayout="column">
  <mat-card-header>
    <mat-card-title>Update password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input name="password" matInput placeholder="Enter your current password" type="password" [formControl]="oldPasswordControl" [errorStateMatcher]="fieldMatcher">
      <mat-error *ngIf="oldPasswordControl.hasError('required')">
        Old password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <input name="password" matInput placeholder="New password" [type]="passwordMatchControl.visible() ? 'password' : 'text'" [formControl]="passwordControl" [errorStateMatcher]="parentOrFieldMatcher">
      <button mat-icon-button matSuffix
              (click)="
                            passwordMatchControl.Hidden = passwordMatchControl.visible();
                            passwordMatchControl.setValue(passwordMatchControl.value);
                            passwordControl.setValue(passwordControl.value)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="passwordMatchControl.Hidden">
        <mat-icon>{{passwordMatchControl.visible() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
        At least 3 characters
      </mat-error>
    </mat-form-field>

    <div [hidden]="passwordMatchControl.Hidden">
      <mat-form-field>
        <input name="matchPasswords" type='password' matInput placeholder="Confirm password" [formControl]="passwordMatchControl" [errorStateMatcher]="parentOrFieldMatcher">
        <mat-error *ngIf="passwordUpdateForm.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error *ngIf="passwordUpdateForm.hasError('createFailed')">
      User creation failed: {{passwordUpdateForm.errors['createFailed']}}
    </mat-error>

    <mat-card-actions>
      <button color="primary" mat-button (click)="handleSaveClick()">Save</button>
    </mat-card-actions>

    <mat-error *ngIf="responseError">
      Server error: {{responseError}}
    </mat-error>
  </mat-card-content>
</mat-card>
