<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">

  <!-- This is the tree node template for leaf groups -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">
      <button mat-icon-button disabled [ngSwitch]="node.kind">
        <mat-icon *ngSwitchCase="kind.GROUP">supervised_user_circle</mat-icon>
        <mat-icon *ngSwitchCase="kind.PROJECT">assignment</mat-icon>
        <mat-icon *ngSwitchCase="kind.USER">perm_identity</mat-icon>
      </button>
      {{node.name}}
    </li>
  </mat-tree-node>

  <!-- This is the tree node template for expandable groups -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <button mat-icon-button disabled [ngSwitch]="node.kind">
          <mat-icon *ngSwitchCase="kind.GROUP">supervised_user_circle</mat-icon>
          <mat-icon *ngSwitchCase="kind.PROJECT">menu_book</mat-icon>
          <mat-icon *ngSwitchCase="kind.USER">group</mat-icon>
        </button>
        {{node.name}}
      </div>
      <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
