<mat-card>
  <mat-card-header>
    <mat-card-title>Work log timesheet</mat-card-title>
  </mat-card-header>
  <div>
    <button
      mat-button
      color="primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Previous
    </button>
    <button
      mat-button
      color="primary"
      mwlCalendarToday
      [(viewDate)]="viewDate">
      Today
    </button>
    <button
      mat-button
      color="primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Next
    </button>
  </div>
  <mat-divider></mat-divider>
  <div>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    <mat-slide-toggle (change)="excludeDays = excludeDays.length == 0 ? [0, 6] : []">Show weekends</mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>

  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [excludeDays]="excludeDays"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (beforeViewRender)="beforeMonthViewRender($event)"
  >
  </mwl-calendar-month-view>
</mat-card>
